.chapter(data-title='Browser Calls with Twilio and Rails')
  .step(data-file='app/assets/javascripts/browser-calls.js',
  data-highlight='91-105')
    :markdown
      ## What does this thing do?

      This [Rails](//rubyonrails.org/) web application shows how you can use
      [Twilio Client](//www.twilio.com/client) to make browser-to-phone and
      browser-to-browser calls.

      ![Browser Calls home
      page](//howtodocs.s3.amazonaws.com/browser-calls/browser-calls-home.png)

      This application powers the support site for the Birchwood Bicycle Polo
      Co., which sells equipment to those who play ["the sport of
      kings."](//www.youtube.com/watch?v=DaK9Zj3QHDY) It has three main
      features:

      * Unsatisfied customers can submit support tickets with their phone number
      and their problem.
      * Support agents can call customers' phones from their browser to follow up
      on support tickets.
      * Customers can also use their browser to speak with support agents live
      when available.

      In this tutorial, we'll point out the key bits of code that make this
      application work.
      [Check out the project README on
      GitHub](//github.com/TwilioDevEd/browser-calls-rails) to see how to run
      the code yourself.

      Let's get started! Click the right arrow above to advance to the next
      code snippet.

      ---

      **See also:**

      * [Twilio Ruby Helper Library](//github.com/twilio/twilio-ruby/)
      * [Twilio Client docs](//www.twilio.com/docs/client)
      * [Rails Guides](//guides.rubyonrails.org/)
