language: ruby
rvm:
  - rvm 2.1.1

install:
  - bundle install

env:
  global:
    - TWILIO_ACCOUNT_SID=TWILIOACCOUNTSID0000
    - TWILIO_AUTH_TOKEN=TWILIOAUTHTOKEN00000
    - TWIML_APPLICATION_SID=TWIMLAPPLICATIONSID00000
addons:
  postgresql: "9.4"

before_script:
  - RAILS_ENV=test bundle exec rake db:create db:migrate
  - bundle exec rspec spec
